* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    font-size: 20px;
}

#indicatorList {
    display: flex;
    column-gap: 6px;
    list-style: none;
    padding: 20px, 34px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.indicator {
    width: 20px;
    height: 20px;
    background-color: green;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
}

#slider {
    padding: 23px, 2px;
    display: flex;
    justify-content: first baseline;
    align-items: end;
}

.conten {
    display: flex;
    justify-content: center;
}

.left {

    column-gap: 600px;
}

.right {
    column-gap: 600px;
}